DEV='False'

PROXY_API_KEY=

DEFAULT_MODEL=
RETRY=0

CLOUDFLARE_ACCOUNT_ID=
AI_GATEWAY_NAME=
CF_AIG_TOKEN=

OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
CEREBRAS_API_KEY=
COHERE_API_KEY=
DEEPSEEK_API_KEY=
GROK_API_KEY=
GROQ_API_KEY=
MISTRAL_API_KEY=
OPENROUTER_API_KEY=
HUGGINGFACE_API_KEY=
PERPLEXITYAI_API_KEY=
REPLICATE_API_KEY=
CLOUDFLARE_API_KEY=
